<!DOCTYPE html>
<html>
  <head>
    <title>Foodie's Paradise</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Foodie's Paradise</h1>
    <p>Hi there fellow foodie</p>
  </body>
</html>
