<%- include('../partials/header') %>

<form id="new-form" action="/recipes" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Prep. Time:</label>
  <input type="text" name="prepTime">
  <label>Instructions:</label>
  <textarea id="instructions" type="text" name="instructions"></textarea>
  <label>Ingredients:</label>
  <input type="text" name="ingredients" placeholder="Example: Milk, Eggs">
  <button type="reset">Clear</button>
  <button type="submit">Add Recipe</button>
</form>

<%- include('../partials/footer') %>