<%- include('../partials/header') %>

<form id="new-form" action="/recipes" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Instructions:</label>
  <input type="text" name="instructions">
  <label>Ingredients</label>
  <input type="text" name="ingredients">
  <input type="text" name="ingredients">
  <input type="text" name="ingredients">
  <input type="text" name="ingredients">
  <label>Quantity</label>
  <input type="text" name="ingredientQty">
  <input type="text" name="ingredientQty">
  <input type="text" name="ingredientQty">
  <input type="text" name="ingredientQty">
  <input type="submit" value="Add Recipe">
</form>

<%- include('../partials/footer') %>